:root {
  /* Colours */
  --color-bg: light-dark(#fceb94, #707070); /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: light-dark(#fffae2, #494949);
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 20px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1.5rem;
  --font-h2-size: 2rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#000000, #fffae2);
  --color-headline-text-page: light-dark(#fffae2, #272727);

  /* Tekst */
  --color-text: light-dark(#000000, #fffae2);
  --color-text-inverted: light-dark(#fffae2, #272727);
  --color-text-form: light-dark(#000000, #fffae2);
  --color-text-form-check: #272727;

  /*  Marginer */
  --margin-head-bottom: 25px;

  /* Borders */
  --border-radius: 25px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #272727);
  --color-cta-card-bg: #ff4b00;
  --color-card-bg-sym: light-dark(#dbe2f5, #272727);
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #494949);
  --color-news-bg-inverted: light-dark(#dbe2f5, #272727);
  --color-cta-newscard-bg: light-dark(#ffa680, #8f6655);
  --color-cta-newscard-bg-inverted: light-dark(#6f90eb, #3f4860);

  /* Fonts */
  --font-family-sans: "rubik";
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 800;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 1rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.5rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 0.9rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#ffffff, #272727);
  --color-infobox-1-bg: light-dark(#fceb94, #777153);
  --color-infobox-2-bg: light-dark(#def5bd, #586556);
}

[popover]:popover-open {
  display: grid;
  margin: auto;
  opacity: 1;
  background-color: #fffae2;
  padding: 40px;
}
[popover] {
  max-height: 90vh;
  max-width: 700px;
  width: 90vw;
  text-align: left;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.5s;
}

::backdrop {
  opacity: 0;
  transition: 0.5s allow-discrete;
  background: rgba(69, 69, 69, 0.533);
}

:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
  }
}

.pop_text {
  padding-top: 20px;
}

.iso_pop {
  padding-top: 20px;
}

summary::after {
  content: "+";
  font-family: system-ui;
  font-weight: 400;
  font-size: 1.1rem;
}

[open] summary::after {
  content: "–";
}
::details-content {
  height: 0;
  overflow: clip;
  transition: 0.3s allow-discrete;
}

[open]::details-content {
  height: auto;
}

.text_teaser {
  padding-top: 10px;
}

.text_teaser p {
  background-color: #fffae2;
  border-radius: 12px;
  padding: 10px;
  max-width: 355px;
}

.cta_btn:hover {
  opacity: 90%;
  transform: scale(1.03);
}
