#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
  padding-left: 20px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

button.Send {
  border: 1px solid #ff4b00;
  background-color: #ff4b00;
  color: #fff;
  border-radius: 6px;
  padding: 0.4rlh 0.6rlh;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.269);
}
button:hover {
  background: #fc7b44;
}

.error-message {
  display: none;
  color: darkred;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }

  .error-message {
    display: block;
  }
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 0.2rlh;
  box-shadow: 0px 1px 2px #0001;
  background-color: #fffae2;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .form-group {
    display: flex;
    flex-direction: column;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

.emailplads {
  grid-column: 1 / -1;
}

.acceptplads {
  grid-column: 1 / -1;
}

.Send {
  grid-column: 1 / -1;
}

:focus-visible {
  outline: 2px solid #6f90eb;
  outline-offset: 1px;
}

fieldset {
  border-radius: 10px;
  line-height: 2;
  background-color: #fffae2;
  border: #000000;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.269);
}

.andre {
  display: flex;
  align-items: center;
  gap: 0.25rlh;
  justify-self: start;
  border-radius: 10px;
  border-color: #ccc;
}

textarea {
  border-radius: 10px;
  border: #000000;
  flex: 1;
  background-color: #fffae2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.269);
}

.sym {
  margin-top: 10px;
  background-color: var(--color-card-bg-sym);
  padding: 1rlh;
  border-radius: 8px;
  gap: 0.5rlh;
  font-size: 17px;
  line-height: 2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.269);
}

form {
  accent-color: #ff4b00;
  color: var(--color-text-form);
}

form .check {
  color: var(--color-text-form-check);
}

.check {
  margin: 12px;
}

.indmeld {
  padding-right: 60px;
}

input[type="checkbox"] {
  color-scheme: only light;
}
