#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
}
button:hover {
  background: #222;
}

.error-message {
  display: none;
  color: darkred;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }

  .error-message {
    display: block;
  }
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.2rlh;
  box-shadow: 0px 1px 2px #0001;
}

form {
  display: grid;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

:focus-visible {
  outline: 2px solid #6f90eb;
  outline-offset: 1px;
}

fieldset {
  border-radius: 6px;
  line-height: 1.6;
}

.andre {
  display: flex;
  align-items: center;
  gap: 0.25rlh;
  justify-self: start;
  border-radius: 6px;
  border-color: #ccc;
}

textarea {
  border-radius: 6px;
  border-color: #ccc;
}

.sym {
  margin-top: 10px;
  background-color: #fffae2;
  padding: 1rlh;
  border-radius: 8px;
  gap: 0.5rlh;
  font-size: 17px;
  line-height: 2;
}

form {
  accent-color: #ff4b00;
}
